<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learning Vue</title>
    <script src="https://unpkg.com/vue@3.0.2"></script>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <h1>Hello, Vue :)</h1>

    <div id="app">
        <!-- attribute binding -->
        <a :href="url">best website ever</a>
        <div v-if="showbooks">

            <li v-for="book in filteredbooks " :class="{ fave: book.isFave }" v-on:click="toggleFave(book)">
                <a :href="url"><img :src="book.img" :alt="book.title"></a>
                <h3>{{ book.title }}</h3>
                <p>{{ book.author }}</p>
            </li>
        </div>
        <!-- <button v-on:click="age++">Increase age</button>
        <button v-on:click="age--">Decrease age</button> -->
        <!-- <div @click="changeTitle('sjj')"> Change </div> -->
        <br><br>
        <div>
            <button @click="togglebooks">

                <span v-if="showbooks">Hide</span>
                <span v-else>Show</span>
            </button>
        </div>

        <br><br>
        <div v-show="showbooks">
            showing books
        </div>

        <br>
        <!-- mouse events -->
        <!-- <div class="box" @mouseover="handleEvent('$event, 5')">mouseover(enter)</div>
        <div class="box" @mouseleave="handleEvent">mouseleave</div>
        <div class="box" @dblclick="handleEvent">doubleclick </div>
        <div class="box" @mousemove="handleMouse">Position - {{ x }} - {{ y }}</div> -->

    </div>

    <script src="app.js"></script>
</body>

</html>