.box {
  padding: 100px 0;
  width: 400px;
  text-align: center;
  background: #ddd;
  margin: 20px;
  display: inline-block;
}

body {
  background: #eee;
  max-width: 960px;
  margin: auto;
}

/* mobile screens */
@media only screen and (max-width: 767px) {
  body {
    margin: 20px;
  }
}

/* tablet screens */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  body {
    margin: 20px;
  }
}

p,
h3,
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
  background: #fff;
  margin: 20px auto;
  padding: 10px 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

li.fave {
  background: #ff9ed2;
  color: white;
}
